.terms-wrapper {
    display: flex;
    margin-top: 3rem;
    gap: .75rem;
    align-items: flex-start;
}

.terms-wrapper a {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-highlight);
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper input[type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
}

.checkbox-wrapper .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(../../assets/icons/checkbox-default.svg);
}

.checkbox-wrapper:hover .checkbox-image, 
.checkbox-wrapper:focus-within .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(../../assets/icons/checkbox-hover.svg);
}

.checkbox-wrapper:has(:checked) .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(../../assets/icons/checkbox-checked.svg);
}